@charset "UTF-8";
/* Estilos específicos para la página de login */
.container {
  position: relative;
  top: 27%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  max-width: 363px;
  margin: 0 auto;
  background-color: var(--principal);
  border-radius: 10px;
  box-shadow: -1px 1px 6px 6px rgba(0, 0, 0, 0.1);
  color: var(--titulos); }

.container h1 {
  margin-bottom: 1rem;
  color: var(--titulos); }

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }

.form-group label {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5rem;
  color: var(--titulos); }

.form-group input {
  font-family: 'Lato', sans-serif;
  padding: 0.5rem;
  border: 1px solid #5c5346;
  border-radius: 10px; }

.btn-primary {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--botones-accion);
  color: var(--fondo-y-contraste);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #0b2c47; }

.alert-danger {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 12px;
  margin-bottom: 1rem; }

.error {
  color: var(--botones-accion);
  font-weight: bold;
  font-size: 15px;
  list-style: none; }

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem; }
  .container h1 {
    color: var(--titulos);
    font-size: 35px; }
  .form-group label, .form-group input {
    font-size: 14px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 500px; }
  .container h1 {
    color: var(--titulos);
    font-size: 35px; } }
