.homepromotor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, auto));
  gap: 20px;
  padding: 1%;
  width: 100%; }

.cardHomePromotor {
  pointer-events: none;
  }

.card-editEvent {
  color: white;
  display: flex;
  width: min-content;
  padding: 7px 15px;
  white-space: nowrap;
  margin-right: auto;
  margin-top: auto;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: var(--principal);
  pointer-events: all; }

.card-info {
  pointer-events: all; }

.divBotones {
  display: flex;
  flex-wrap: wrap;
  padding: 2% 0%;
  justify-content: center;
  margin-top: auto; }

.btnSessions {
  margin: 1%; }

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.inputEditEvent {
  width: 100%; }

textarea {
  height: 70px;
  resize: none; }

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%; }

.btn {
  font-size: 16px;
  border-radius: 20px; }

.btn-secondary {
  background-color: red; }

.btn-secondary:hover {
  background-color: darkred; }

.btn-primary {
  background-color: green;
  color: #fff; }

.btn-primary:hover {
  background-color: darkgreen;
  color: #eee; }

option {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  background: #11436b;
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 96%;
  position: absolute;
  left: 2%;
  top: 35%;
  max-height: 360px;
  overflow: scroll; }

option:hover {
  background-color: #1767a0;
  color: #ffeb3b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

select {
  border-radius: 14px; }

.modal-title {
  text-align: center;
  font-weight: bold; }

.labelHomePromotor {
  text-align: center;
  margin-top: 5%; }

.cerrar {
  padding: 0% 2%;
  border-radius: 50px; }

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: black;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px; }

.close-btn {
  cursor: pointer;
  margin-top: 10px;
  color: white;
  text-decoration: underline; }

@media (min-width: 768px) {
  .homepromotor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, auto));
    gap: 20px;
    padding: 1%;
    width: 100%; }
  .message {
    font-size: 20px; } }
