/* Estilos básicos para móviles */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 10px 10px 10px;
}

.event-card {
    padding: 15px;
}

.event-card img {
    width: 100%;
    height: auto;
}

.filtro, input{
    padding: 3px;
    background-color: #C9B7A5;
    margin: 0px 5px;
}

input{
    margin: 0 10px;
}

label{
    padding: 3px;
}

.iconoLupa{
    font-size: 10px;
}

.contenedorFiltro{
    width: 98%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    overflow-y: hidden;
}


/* Media query para pantallas más grandes */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para pantallas más grandes */
    }

    .iconoLupa, .filtro, input, label{
        font-size: 16px;
    }
    label{
        padding: 10px 5px;
    }
    input{
        width: 50%
    }

}