.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.cardCategoria{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2% 0%;
}

h1{
    text-align: center;
}

.events {
    display: flex;
    flex-wrap: wrap;
    max-height: 630px;
    overflow: hidden;
    padding: 0% 1%;
}

.event {
    width: 100%; /* 100% / 1 elemento por fila */
    box-sizing: border-box;
}

img{
    size: 10px;
}

.verMas{
    display: flex;
    justify-content: center;
}

.BtnVerMas{
    width: 50%;
    font-size: 16px;
    margin-top: 1%;
}

@media (min-width: 768px) {
.event {
    width: 33%; /* 100% / 3 elementos por fila */
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho */
}
}
