@charset "UTF-8";

/* Estilos básicos aplicados para dispositivos móviles */
.container {
  padding: 20px;
  background: white;
}

.slider-frame {
  width: 100%;
  overflow: hidden;
  height: auto;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  animation: slide 7s infinite alternate ease-in-out;
}

.slider-frame li {
  list-style: none;
  width: 100%;
}

.venue-details {
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 5px solid var(--principal);
}

.eventDetailList {
  margin-top: 30px;
  margin-left: 30px;
}

.h2-showevent {
  text-align: start;
  font-size: 20px;
}

/* Estilos para FullCalendar */
#calendar {
  background-color: #ffffff;
  /* Fondo más claro */
  color: #2C3E50;
  /* Texto oscuro para mejor contraste */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra para darle profundidad */
  width: 100%;
}

.fc .fc-toolbar-title {
  font-size: 20px;
  /* Más grande para mejor legibilidad */
  color: var(--principal);
}

.fc .fc-daygrid-day {
  transition: background-color 0.3s;
  /* Transición suave para interacciones */
}

.fc .fc-daygrid-day:hover {
  background-color: #f2f2f2;
  /* Resaltar al pasar el cursor */
}

.fc .fc-day-today {
  background-color: var(--destacados-enlaces);
  /* Resaltar el día actual */
  color: #ffffff;
}

.fc .fc-daygrid-day-number {
  font-size: 14px;
  /* Tamaño adecuado para los números */
}

.fc .fc-daygrid-event {
  background-color: var(--botones-accion);
  border-color: var(--botones-accion);
  color: #ffffff;
  border-radius: 3px;
  /* Bordes redondeados para los eventos */
  padding: 2px 5px;
}

.fc .fc-button {
  background-color: var(--botones-accion);
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.fc .fc-button:hover {
  background-color: var(--principal);
}

.fc .fc-button-primary {
  box-shadow: none;
  /* Remover sombra por defecto para un look más plano */
}

.fc .fc-button-group>.fc-button:not(:last-child) {
  border-right: none;
  /* Remover bordes innecesarios en botones agrupados */
}

.fc .fc-button-active {
  background-color: var(--principal);
  color: var(--titulos);
}

.fc .fc-daygrid-day--has-event {
  background-color: #fff3e0;
  /* Fondo suave para días con eventos */
  border: 1px solid var(--botones-accion);
  /* Borde destacado para días con eventos */
}

.fc .fc-daygrid-day--has-event:hover {
  background-color: #ffe0b2;
  /* Fondo más oscuro al pasar el cursor */
}

.fc .fc-event-title {
  font-size: 14px;
  /* Tamaño adecuado para el texto del evento */
  font-weight: bold;
  /* Negrita para mejorar la legibilidad */
}

.fc .fc-daygrid-day {
  transition: background-color 0.3s;
  /* Suavizar la transición de fondo */
}

/* Mejora de los botones de navegación */
.fc .fc-toolbar-chunk {
  display: flex;
  justify-content: center;
  /* Centrar botones en la barra de herramientas */
  align-items: center;
  gap: 10px;
  /* Espacio entre botones */
}

.fc .fc-button {
  background-color: var(--botones-accion);
  color: white;
  margin: 0 4px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.fc .fc-button:hover {
  background-color: var(--principal);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave al pasar el cursor */
}

.fc .fc-daygrid-day {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.fc .fc-daygrid-day:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  /* Sombra interna más pronunciada al pasar el cursor */
}

.fc .fc-daygrid-day-number {
  font-weight: bold;
  /* Hacer los números de los días más prominentes */
  color: var(--texto-detalle);
}

.fc .fc-daygrid-event {
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

.fc .fc-daygrid-event:hover .fc-event-title {
  text-decoration: underline;
  /* Subrayar el título del evento al pasar el cursor */
}

.fc .fc-daygrid-event .fc-event-title {
  color: var(--texto-detalle);
}

.fc .fc-daygrid-block-event .fc-event-title {
  padding: 4px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fc .fc-prev-button,
.fc .fc-next-button,
.fc .fc-today-button {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

#sessionDetails,
#totalPriceContainer {
  background-color: var(--principal);
  color: var(--titulos);
  padding: 15px;
  margin-top: 2%;
  border-radius: 5px;
  margin-bottom: 2%;
}

#sessionList li {
  cursor: pointer;
  display: flex;
  padding: 5px;
  list-style: none;
  justify-content: space-between;
}

#sessionList li:hover {
  background-color: var(--botones-accion);
  color: var(--titulos);
}

.h3Color {
  color: white;
}

.dvBotonCompra {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btnCompra {
  margin-bottom: 35px;
  padding: 0.5rem 1.5rem;
}

.divDescEvent {
  border-bottom: 5px solid var(--principal);
  margin-bottom: 2%;
  margin-top: 60PX;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.pDescEvent {
  width: 100%;
  overflow-wrap: break-word;
  font-size: 16px;
}

.inputQuantity {
  margin-left: 2%;
}

.pUbiEvento {
  color: #ffffff;
  font-size: 100%;
}

.contenedorComentarios {
  margin-bottom: 100px;
  padding: 10px;
}

.contenedorComentario {
  border: 1px solid rgb(164, 164, 164);
  border-radius: 10px;
  width: 98%;
  padding: 20px 20px;
  margin: 20px auto;
}

.tituloComentario {
  font-size: 16px;
  margin-bottom: 20px;
}

.usuarioComentario {
  margin: 0;
}

.usuarioComentario,
.textoComentario {
  font-size: 16px
}

.textoComentario {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contenedorPuntuacionUsuario {
  display: flex;
  flex-direction: column;
  margin: 10px 8px;
  align-items: center;
}

.puntuacionUsuario {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.stars {
  margin-left: 14px;
  vertical-align: -1px;
  margin-top: 2px;
}

.separadorComentario {
  border: 0.5px solid #e4e4e4;
}

.noComentarios {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.fechaComentario {
  margin: 0px 8px;
  font-size: 14px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white  ;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.actived, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.puntosImagenes{
  text-align: center;
  margin-bottom: 60px;
}

/* Estilos adaptativos para pantallas más grandes */
@media screen and (min-width: 601px) {
  .container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  }

  .fc .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fc .fc-daygrid-day {
    border: 1px solid #e1e1e1;
    /* Agregar bordes sutiles para definir los días */
  }

  .fc .fc-daygrid-day-events {
    margin-top: 4px;
    /* Espacio para eventos dentro de un día */
  }

  .slider-frame {
    margin: 5% 0%;
  }

  .contenedorPuntuacionUsuario {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contenedorComentario {
    border: 1px solid rgb(164, 164, 164);
    border-radius: 10px;
    width: 90%;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .puntuacionUsuario {
    display: flex;
    flex-direction: row;
    margin-left: 36px;
    margin-top: 0px;
  }

  .stars {
    margin-left: 14px;
    margin-top: 4px;
  }

}